<html>
<head>
  <title>Threshold - Auth</title>
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/navbar.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/threshold">Threshold</a>
      </div>
    </div>
    <div class="jumbotron">
      <h1>Auth</h1>
      <form role="form" action="auth" method="post">
        <div class="form-group">
          <label for="inputUser">User name:</label>
          <input type="text" class="form-control" name="inputUser" placeholder="Enter user name...">
        </div>
        <% if(err){ %>
          <div class="form-group has-error">
            <label for="inputPass">Password:</label>
            <input type="password" class="form-control" name="inputPass" placeholder="Enter password...">
          </div>
        <% } %>
        <% if(!err){ %>
          <div class="form-group">
            <label for="inputPass">Password:</label>
            <input type="password" class="form-control" name="inputPass" placeholder="Enter password...">
          </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Authenticate</button>
      </form>
    </div>
  </div>
</body>

