<html>
<head>
  <title>Circumpunct</title>
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/navbar.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <% include navbar %>
    <div class="jumbotron">
      <h1>Justin Patriquin</h1>
    </div>

  <script src="socket.io/socket.io.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
